body{
    background-color: black;
    color: greenyellow;
    align-items: center;
    text-align: center;
}
#pokemonsprite{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 20px;
    width: 500px;
    height: 500px;
}