.main{
    width: 900px;
    height: 200px;
    background-color: bisque;
}
.r1{
    width: 900px;
    height: 50px;
    background-color: lightblue;
}
.r2{
    width: 900px;
    height: 100px;
    background-color: lightgreen;
}
.r3{
    width: 900px;
    height: 50px;
    background-color: lightcoral;
}
.r1c1{
    width: 200px;
    height: 50px;
    background-color: lightgray;
    float: left;
}
.r1c2{
    width: 300px;
    height: 50px;
    background-color: lightyellow;
    float: left;
}
.r1c3{
    width: 400px;
    height: 50px;
    background-color: lightpink;
    float: right;
}
.r3c1{
    width: 400px;
    height: 50px;
    background-color:aliceblue;
    float: left;
}
.r3c2{
    width: 500px;
    height: 50px;
    background-color: red;
    float: right;
}

/*

/* Class Selector - Targeting elements with class 'primary-text' 
      .primary-text{
          color: blue;
      }

        /* ID Selector - Targeting element with ID 'unique-element' 
        #unique-element{
            font-weight: bold;
        }
     

        /* Attribute Selector - Targeting input type 'text' 
        input[type="text"]{
            border: 2px solid green;
        }
     

        /* Pseudo-class Selector - Targeting links on hover 
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
      

        /* Pseudo-element Selector - Targeting first letter of paragraphs 
        p::first-letter{
            font-size: 200%;
            color: red;
        }

        media query breakpoints
        extra small < 576px
        small ≥ 576px
        medium ≥ 768px
        large ≥ 992px
        extra large ≥ 1200px

*/