.navbar{
    display: flex;
    justify-self: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hamburger{
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px){
    .nav-links{
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        background-color: #333;
        padding: 10px 20px;
        text-align: center;
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .nav-links.active{
        display: flex;
    }
    .hamburger{
        display: block;
    }
}